<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>VapeWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

     <servlet>
        <description>Controller</description>
        <display-name>LocationController</display-name>
        <servlet-name>LocationController</servlet-name>
        <servlet-class>Servlet.Location.LocationController</servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>LocationController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


	 <servlet>
        <description>Controller</description>
        <display-name>LocationActionController</display-name>
        <servlet-name>LocationActionController</servlet-name>
        <servlet-class>Servlet.Location.LocationActionController</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>LocationActionController</servlet-name>
        <url-pattern>*.at</url-pattern>
    </servlet-mapping>

</web-app>